.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-weight: 700;
    color: rgb(255, 255, 255);
    backface-visibility: hidden;
}

.card-face:hover {
    cursor: pointer;
}

.flipped{
    transform: rotateY(180deg);
}

.obverse{
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.reverse{
    display: grid;
    place-items: center;
    transform: rotateY(180deg);
}